In [1]:
import pandas as pd
import numpy as np

In [2]:
mt_index = pd.MultiIndex.from_tuples([('one', 'a'), ('one', 'b'),
                                   ('two', 'a'), ('two', 'b')])
s = pd.Series(np.arange(1, 5), index=mt_index)
s

one  a    1
     b    2
two  a    3
     b    4
dtype: int64

In [3]:
s.unstack().stack(future_stack=True)

one  a    1
     b    2
two  a    3
     b    4
dtype: int64

In [5]:
s_1 = s.unstack()
s_1

     a  b
one  1  2
two  3  4

In [8]:
s_1.stack(future_stack=True).unstack()

     a  b
one  1  2
two  3  4