In [2]:
import pandas as pd
import numpy as np

In [7]:
df = pd.DataFrame([[0, 1], [2, 3]],
                  index=['cat', 'dog'],
                  columns=['weight', 'height'])
df

     weight  height
cat       0       1
dog       2       3

In [8]:
df.stack(future_stack=True)

cat  weight    0
     height    1
dog  weight    2
     height    3
dtype: int64

In [9]:
mi_cols = pd.MultiIndex.from_tuples([('weight', 'kg'),
                                       ('weight', 'pounds')])
df_mi_cols = pd.DataFrame([[1, 2], [2, 4]],
                          index=['cat', 'dog'],
                          columns=mi_cols)
df_mi_cols

    weight
        kg pounds
cat      1      2
dog      2      4

In [10]:
df_mi_cols.stack(future_stack=True)

            weight
cat kg           1
    pounds       2
dog kg           2
    pounds       4

In [12]:
mi_cols2 = pd.MultiIndex.from_tuples([('weight', 'kg'),
                                      ('height', 'm')])
df_mi_cols2 = pd.DataFrame([[1.0, 2.0], [3.0, 4.0]],
                           index=['cat', 'dog'],
                           columns=mi_cols2)
df_mi_cols2

    weight height
        kg      m
cat    1.0    2.0
dog    3.0    4.0

In [13]:
df_mi_cols2.stack(0, future_stack=True)    # level = 0

             kg    m
cat weight  1.0  NaN
    height  NaN  2.0
dog weight  3.0  NaN
    height  NaN  4.0

In [15]:
df_mi_cols2.stack(-1, future_stack=True)    # level=1 or level=-1

        weight  height
cat kg     1.0     NaN
    m      NaN     2.0
dog kg     3.0     NaN
    m      NaN     4.0

In [16]:
df_mi_cols2.stack([0,1], future_stack=True)    # both levels stack

cat  weight  kg    1.0
     height  m     2.0
dog  weight  kg    3.0
     height  m     4.0
dtype: float64