In [17]:
import pandas as pd
import numpy as np

In [18]:
mt_index = pd.MultiIndex.from_tuples([('one', 'a'), ('one', 'b'),
                                   ('two', 'a'), ('two', 'b')])
s = pd.Series(np.arange(1, 5), index=mt_index)
s

one  a    1
     b    2
two  a    3
     b    4
dtype: int64

In [19]:
s_1= s.unstack()  # default level = -1, same as level = 1
s_1

     a  b
one  1  2
two  3  4

In [11]:
s_0 = s.unstack(level=0)
s_0

   one  two
a    1    3
b    2    4

In [15]:
s_0_1 = s.unstack(level=0).unstack()   # do nothing
s_0_1

one  a    1
     b    2
two  a    3
     b    4
dtype: int64

In [16]:
s_1_0 = s.unstack().unstack(level=0)   # reverse the order of multi-Index
s_1_0

a  one    1
   two    3
b  one    2
   two    4
dtype: int64